{
  "passPerPreset": true,
  "presets": [
    {
      "presets": ["@babel/preset-env"],
      "plugins": ["@babel/plugin-syntax-jsx", "babel-plugin-fbt", "babel-plugin-fbt-runtime"]
    },
    {"plugins": ["inferno"]}
  ]
}
